.navbar {
  display: flex;
  height: 70px;
  width: 100% - 10px;
  background-color: #009975;
  overflow: hidden;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.nav-profile img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}