/* Container */
.main-reg-area {
  height: 100vh;
  min-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.registration-container,
.login-container {
  width: 600px;
  padding: 50px;
  padding-right: 80px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.692);
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.registration-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

/* Labels */
.registration-container label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: bold;
}

/* Input Fields */
.registration-container input,
.registration-container .PhoneInput {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.registration-container input:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

/* Send OTP Button */
.registration-container button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registration-container button:hover {
  background-color: #0056b3;
}

/* Type Options */
.type-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
}

.type-options div {
  display: flex;
  align-items: center;
}

.type-options label {
  margin-left: 5px;
  font-weight: normal;
}

/* Popup */

.popup-content {
  padding: 1.5rem;
  background: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  max-width: 450px;
  height: 350px;
  padding-bottom: 30px;
  overflow: hidden;
}

.popup-content h3 {
  margin-bottom: 1rem;
  color: #333;
}

.popup-otp-input {
  font-size: 22px;
  margin-right: 10px;
  padding: 10px;

}


.popup-content button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.popup-content button:hover {
  background-color: #218838;
}

.already-have-acc {
  color: #e02113d5;
  margin-top: 5px;
}

/* HTML: <div class="loader"></div> */
.loader-area-reg {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #13131383;
  backdrop-filter: blur(3px);
}

.reg-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50, -50);
  --d: 40px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  color: #ffffff;
  box-shadow:
    calc(1*var(--d)) calc(0*var(--d)) 0 0,
    calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d)) calc(1*var(--d)) 0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
  animation: l27 0.87s infinite steps(8);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn)
  }
}